/* css reset */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}
input {border:none; background-color: transparent;}
input:focus {outline:none;}
body {
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    letter-spacing: -1.5px;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
    overflow-x: hidden;
}

/* contents max-width -> wrapping */
.wrap {
    position: relative;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

/* main page -> header's background color */
.main_bg {
    background-color: rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(255,255,255,.2);
    color: #fff;
}
.main_bg #header_body #link-icon label:nth-child(1){
    left: 0;
    background: url(/img/header/sitemap_main-bg.png) center center no-repeat;
}
.main_bg #header_body #link-icon a:nth-child(2){
    left: 40px;
    background: url(/img/header/search_main-bg.png) center center no-repeat;
}
.main_bg #header_body #link-icon a:nth-child(3){
    right: 40px;
    background: url(/img/header/schedule_main-bg.png) center center no-repeat;
}
.main_bg #header_body #link-icon a:nth-child(4){
    right: 0;
    background: url(/img/header/mymegabox_main-bg.png) center center no-repeat;
}
.main_bg #header_body #categories a {
    color: white;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}
.main_bg #header_body #categories ul > li:hover > a {
    border-bottom: 3px solid #fff;
}
.main_bg #header_body #categories ul > li:hover::before {
    content: "";
    width: 2000vw;
    min-width: 100vw;
    height: 42px;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top: 40px;
    left: -1000vw;
    z-index: 4;
}
.main_bg #logo {
    position: absolute;
    top: 50%;
    left: 550px;
    transform: translate(-50%, -50%);
    background: url(/img/header/logo_main-bg.png) center center no-repeat;
    cursor: pointer;
}

/* other page */
.no_bg {
    background: #fff;
    border-bottom: 1px solid #351f67;
}
.no_bg #header_body #link-icon label:nth-child(1){
    left: 0;
    background: url(/img/header/sitemap_no-bg.png) center center no-repeat;
}
.no_bg #header_body #link-icon a:nth-child(2){
    left: 40px;
    background: url(/img/header/search_no-bg.png) center center no-repeat;
}
.no_bg #header_body #link-icon a:nth-child(3){
    right: 40px;
    background: url(/img/header/schedule_no-bg.png) center center no-repeat;
}
.no_bg #header_body #link-icon a:nth-child(4){
    right: 0;
    background: url(/img/header/mymegabox_no-bg.png) center center no-repeat;
}
.no_bg #header_body #categories a {
    color: black;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}
.no_bg #header_body #categories ul > li:hover > a {
    border-bottom: 4px solid #619caf;
}
.no_bg #header_body #categories ul > li:hover::before {
    content: "";
    width: 2000vw;
    min-width: 100vw;
    height: 42px;
    background-color: #619caf;
    position: absolute;
    top: 40px;
    left: -1000vw;
    z-index: 4;
}
.no_bg #logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(/img/header/logo_no-bg.png) center center no-repeat;
    cursor: pointer;
}


/* basic header structure */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1100px;
    height: 91px;
    z-index: 10;
}
header input {
    display: none;
}
header input[id="sitemap_btn"]:checked + .wrap #header_body #link-icon label {
    background: url(/img/header/ico_sitemap_main-bg_close.png);
}
header input[id="sitemap_btn"]:checked ~ #sitemap {
    display: block;
}

header #header_body {
    height: auto;
    position: relative;
    width: 100%;
    height: 100%;
}
header #header_body #link-icon {
    height: 100%;
}
header #header_body #link-icon label,
header #header_body #link-icon a {
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}
header #header_body #categories {
    width:100%;
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
}
header #header_body #categories ul {
    display: flex;
    overflow: hidden;
}
header #header_body #categories ul li {
    display: block;
    height: 100%;
}
header #header_body #categories ul li > a {
    position: absolute;
    z-index: 6;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 12px;
    top: 50%;
    transform: translateY(-50%);
}
header #header_body #categories ul > li:nth-child(1) > a {
    left: 170px;
}
header #header_body #categories ul > li:nth-child(2) > a {
    left: 300px;
}
header #header_body #categories ul > li:nth-child(3) > a {
    right: 300px;
}
header #header_body #categories ul > li:nth-child(4) > a {
    right: 170px;
}

header #header_body #categories ul > li > .sub_menu {
    display: none;
    position: absolute;
    top: 25px;
    height: 60px;
    width: 100%;
    z-index: 5;
}
header #header_body #categories ul > li:hover .sub_menu {
    display: block;
}
header #header_body #categories ul > li:nth-child(1) > .sub_menu {
    padding-left: 70px;
}
header #header_body #categories ul > li:nth-child(2) > .sub_menu {
    padding-left: 170px;
}
header #header_body #categories ul > li:nth-child(3) > .sub_menu {
    padding-left: 685px;
}
header #header_body #categories ul > li:nth-child(4) > .sub_menu {
    padding-left: 830px;
}
header #header_body #categories ul > li > .sub_menu > a {
    position: initial;
    display: inline-block;
    margin: 12px 10px;
    line-height: 44px;
    font-weight: bold;
    z-index: 6;
}
header #logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 47px;
}
header #logo a {
    display: block;
    width: 100%;
    height: 100%;
}
header #sitemap {
    display: none;
    background-color: #333;
    width: 100%;
    min-width: 1100px;
    height: 750px;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 90px;
}
header #sitemap h1 {
    width: 100%;
    padding: 45px 0 15px 0;
    font-size: 23px;
    letter-spacing: 0;
    color: #fff;
}
header #sitemap #sitemap_list dl {
    float: left;
    width: 159px;
    display: inline-flex;
    flex-direction: column;
    margin-right: 29px;
    max-height: 270px;
    overflow: visible;
}
header #sitemap #sitemap_list dl:nth-child(6) {
    margin: 0;
}
header #sitemap #sitemap_list dl dt {
    width: 100%;
    height: 48px;
    font-size: 17px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    border: 1px solid rgba(68, 68, 68, 0.5);
    border-width: 1px 0;
    font-weight: bold;
}
header #sitemap #sitemap_list dl dd {
    display: inline-flex;
    width: 100%;
}
header #sitemap #sitemap_list dl dd ul {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
}
header #sitemap #sitemap_list dl dd ul li {
    width: 100%;
    height: 34.5px;
    padding-top: 18px;
    text-align: center;
}
header #sitemap #sitemap_list dl dd ul li a {
    color: #bbb;
    font-size: 15px;
    cursor: pointer;
}
header #sitemap #sitemap_list dl dd ul li a:hover {
    color: #339eb2;
    text-decoration: underline;
}
header #header_body #categories ul > li > .sub_menu > a {
    color: white;
}
header #header_body #categories ul > li > .sub_menu > a:hover {
    text-decoration: underline;
}

/* footer */
footer {
    width: 100%;
    min-width: 1100px;
    height: 200px;
    background-color: #f8f8fa;
    margin-top: 100px;
}
footer #footer_top {
    padding: 30px 0;
    width: 100%;
    height: 90px;
    display: flex;
}
footer #footer_top dl {
    width: 100%;
    height: 100%;
    display: flex;
}
footer #footer_top dl dd {
    height: 15px;
    margin: auto 15px auto 0;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
footer #footer_top dl dd:hover {
    border-bottom: 1px solid #666;
}
footer #footer_top a {
    display: inline-flex;
    width: 116px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d8d9db;
    border-radius: 30px;
    justify-content: center;
    color: #666;
    font-size: 13px;
}
footer #footer_top a::before {
    content: "";
    width: 15px;
    height: 15px;
    margin: auto 0;
    background: url(/img/footer/ico_footer_search.png) 0 0 no-repeat;
    margin-right: 5px;
}
footer #footer_container {
    display: flex;
    position: relative;
}
footer #footer_container img {
    width: 150px;
    height: 50px;
    margin-right: 20px;
}
footer #footer_container #footer_info {
    font-size: 13px;
    color: #444;
    letter-spacing: -.5px;
}
footer #footer_container #footer_sns {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}
footer #footer_container #footer_sns a {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
footer #footer_container #footer_sns a:nth-child(1) {
    background: url(/img/footer/ico_youtube.png) 0 0 no-repeat;
}
footer #footer_container #footer_sns a:nth-child(2) {
    background: url(/img/footer/ico_instagram.png) 0 0 no-repeat;
}
footer #footer_container #footer_sns a:nth-child(3) {
    background: url(/img/footer/ico_facebook.png) 0 0 no-repeat;
}
footer #footer_container #footer_sns a:nth-child(4) {
    background: url(/img/footer/ico_youtube.png) 0 0 no-repeat;
}
