#main {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 920px;
}
#main #bg {
    display: block;
    min-width: 1100px;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}
#main #bg #bg_pattern {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url(/img/main/bg_pattern.png) repeat 0 0;
    z-index: 3;
}
#main #bg img {
    width: 100%;
    position: absolute;
    top: 0;
    filter: blur(15px);

}
#main #bg::before {
    content: "";
    display: block;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right, 
        rgba(85,63,5,1) 0%, 
        rgba(23,17,1,0) 50%, 
        rgba(85,63,5,1) 100%
    );
}
#main #bg::after {
    content: "";
    display: block;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(3,1,21,0.7);
}

#main #boxoffice {
    position: inherit;
    width: 100%;
    padding-top: 169px;
    z-index: 3;
}
#main #boxoffice #boxoffice_title {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
#main #boxoffice #boxoffice_title a:first-child {
    color: #fff;
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    font-weight: bold;
}
#main #boxoffice #boxoffice_title a:last-child {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15px;
    color: #aaa;
    margin: auto 0;
    border-bottom: 1px solid transparent;
}
#main #boxoffice #boxoffice_title a:last-child:hover {
    border-bottom: 1px solid #aaa;
}
#main #boxoffice #boxoffice_title a:last-child::after {
    content: "";
    width: 16px;
    height: 16px;
    background: url(/img/main/ico_plus_grey.png) 0 0 no-repeat;
    margin: 2px 0 0 5px;
}

#main #boxoffice #boxoffice_list {
    width: 100%;
    height: 398px;
}
#main #boxoffice #boxoffice_list ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#main #boxoffice #boxoffice_list ul li {
    width: 245px;
    height: 100%;
}
#main #boxoffice #boxoffice_list ul li .boxoffice_poster {
    position: relative;
    width: 100%;
    height: 352px;
    border-radius: 5px;
    background: grey;
}
#main #boxoffice #boxoffice_list ul li .boxoffice_poster img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#main #boxoffice #boxoffice_list ul li .boxoffice_poster .boxoffice_rank {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 10px 0 0 15px;
    line-height: 1.1;
    font-size: 2em;
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 300;
    color: #fff;
    background: url(/img/main/bg_boxoffice-rank.png) 0 0 no-repeat;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 80%);
}
#main #boxoffice #boxoffice_list ul li .boxoffice_poster .metadata {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 5px;
    overflow: hidden;
}
#main #boxoffice #boxoffice_list ul li .boxoffice_poster:hover .metadata {
    display: block;
    padding: 25px;
    background-color: rgba(0,0,0,0.8);
}
#main #boxoffice #boxoffice_list ul li .boxoffice_poster .metadata .summary {
    color: #fff;
    /* 여러 줄 자르기 추가 스타일 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
    line-height: 1.5; 
    height: 12em; 
    text-align: left;
    word-wrap: break-word; 
    display: -webkit-box; 
    -webkit-line-clamp: 8; 
    -webkit-box-orient: vertical;
}
#main #boxoffice #boxoffice_list ul li .boxoffice_poster .metadata .evaluation {
    position: absolute;
    overflow: hidden;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #3c3c3c;
    text-align: center;
    display: flex;
    justify-content: center;
}
#main #boxoffice #boxoffice_list ul li .boxoffice_poster .metadata .evaluation p:first-child {
    margin: auto 19px auto 0;
    font-size: 13px;
    color: #fff;
}
#main #boxoffice #boxoffice_list ul li .boxoffice_poster .metadata .evaluation p:last-child {
    font-size: 28px;
    color: #59bec9;
    font-weight: bold;
}
#main #boxoffice #boxoffice_list ul li .btn_util {
    width: 100%;
    height: 36px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
#main #boxoffice #boxoffice_list ul li .btn_util a {
    display: flex;
    height: 100%;
    line-height: 36px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    font-size: 13px;
}
#main #boxoffice #boxoffice_list ul li .btn_util a:first-child::before {
    content: "";
    width: 17px;
    height: 15px;
    margin: auto 5px auto 0;
    background: url(/img/main/ico_heart.png) 0 0 no-repeat;
}
#main #boxoffice #boxoffice_list ul li .btn_util a:first-child {
    display: inline-flex;
    width: 80px;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #555;
}
#main #boxoffice #boxoffice_list ul li .btn_util a:last-child {
    width: 160px;
    background-color: #037b94;
}

#main #boxoffice #search-link {
    margin-top: 50px;
    padding-top: 23px;
    width: 100%;
    height: 75px;
    background-color: rgba(0,0,0,0.2);   
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#main #boxoffice #search-link li {
    width: 275px;
    height: 30px;
    text-align: center;
    position: relative;
}
#main #boxoffice #search-link li:first-child form {
    position: relative;
    width: 200px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin: 0 auto;
}
#main #boxoffice #search-link li:first-child form input {
    width: 170px;
    height: 30px;
    color: #fff;
    background-color: transparent;
    border: none;
    margin-right: 30px;
    margin-left: 11px;
}
#main #boxoffice #search-link li:first-child form input::placeholder {
    color: #aaa;
    font-size: 15px;
    letter-spacing: -1.5px;
}
#main #boxoffice #search-link li:first-child form button {
    position: absolute;
    bottom: 50%;
    right: 5px;
    transform: translateY(50%);
    width: 18px;
    height: 18px;
    background: url(/img/main/ico_search.png) center center no-repeat;
    cursor:pointer;
}
#main #boxoffice #search-link li a {
    display: inline-flex;
    color: #fff;
    line-height: 30px;
    font-size: 14.4px;
}
#main #boxoffice #search-link li a::before{
    margin: auto 8px auto 0;
}
#main #boxoffice #search-link li:nth-child(2) a::before {
    content: "";
    width: 24px;
    height: 26px;
    background: url(/img/main/ico_schedule.png) center center no-repeat;
}
#main #boxoffice #search-link li:nth-child(3) a::before {
    content: "";
    width: 26px;
    height: 24px;
    background: url(/img/main/ico_list.png) center center no-repeat;
}
#main #boxoffice #search-link li:nth-child(4) a::before {
    content: "";
    width: 29px;
    height: 25px;
    background: url(/img/main/ico_ticket.png) center center no-repeat;
}
#main #boxoffice #search-link li:nth-child(n+2):nth-child(-n+4) {
    border-left: 1px solid #423e3e;;
}
#main #moving_mouse {
    position: relative;
    width: 100%;
    height: 24px;
    margin-top: 30px;
    z-index: 3;
}
#main #moving_mouse img {
    width: 16px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: mv_mouse .8s ease infinite alternate;
}
@keyframes mv_mouse {
    from {
        top: 0;
    }
    to {
        top: 10px;
    }
}

/* section_title -> common css */
.section_title {
    position: relative;
    width: 100%;
    height: 123px;
    padding: 50px 0 40px 0;
}
.section_title h2 {
    color: #351f66;
    font-size: 30px;
    height: 33px;
    line-height: 33px;
    letter-spacing: -3px;
}

/* benefits section */
#benefits {
    position: relative;
    width: 100%;
    min-width: 1100px;
    height: 844.5px;
}
#benefits::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 513px;
    bottom: 0;
    background-color: #503396;
}
#benefits .section_title {
    height: 83px;
    padding-bottom: 0;
}
#benefits .section_title a {
    position: absolute;
    right: 0;
    bottom: 8px;
    width: 16px;
    height: 16px;
    background: url(/img/main/ico_plus_black.png) 0 0 no-repeat;
}
#benefits #benefits_ad {
    display: block;
    position: relative;
}
#benefits #benefits_ad #benefits_slider {
    width: calc(385px*7);
    height: 325px;
    display: flex;
}
#benefits #benefits_ad #benefits_slider #slider_left {
    width: 300px;
    height: 230px;
    overflow: hidden;
}
#benefits #benefits_ad #benefits_slider #slider_left #slider_bottom-to-top {
    width: 300px;
    height: calc(230px*6);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    animation: slider_btt 30s ease-in infinite normal;
}
@keyframes slider_btt {
    0% {transform: translateY(calc(-230px*0));}
    14.65% {transform: translateY(calc(-230px*0));}
    16.66% {transform: translateY(calc(-230px*1));}
    31.31% {transform: translateY(calc(-230px*1));}
    33.32% {transform: translateY(calc(-230px*2));}
    47.97% {transform: translateY(calc(-230px*2));}
    49.98% {transform: translateY(calc(-230px*3));}
    64.63% {transform: translateY(calc(-230px*3));}
    66.64% {transform: translateY(calc(-230px*4));}
    81.31% {transform: translateY(calc(-230px*4));}
    83.32% {transform: translateY(calc(-230px*5));}
    97.99% {transform: translateY(calc(-230px*5));}
    100% {transform: translateY(calc(-230px*6));}
}
#benefits #benefits_ad #benefits_slider #slider_left #slider_bottom-to-top li {
    display: block;
    width: 300px;
    height: 230px;
}
#benefits #benefits_ad #benefits_slider #slider_left #slider_bottom-to-top li img {
    height: 100%;
}
#benefits #benefits_ad #benefits_slider #slider_right {
    width: 385px;
    height: 325px;
    overflow: hidden;
}
#benefits #benefits_ad #benefits_slider #slider_right #slider_right-to-left {
    width: calc(385px*6);
    height: 325px;
    display: flex;
    transform: translateX(calc(-385px*1));
    animation: slider_rtl 30s ease-out infinite normal;
}
@keyframes slider_rtl {
    0% {transform: translateX(calc(-385px*0));}
    14.65% {transform: translateX(calc(-385px*0));}
    16.66% {transform: translateX(calc(-385px*1));}
    31.31% {transform: translateX(calc(-385px*1));}
    33.32% {transform: translateX(calc(-385px*2));}
    47.97% {transform: translateX(calc(-385px*2));}
    49.98% {transform: translateX(calc(-385px*3));}
    64.63% {transform: translateX(calc(-385px*3));}
    66.64% {transform: translateX(calc(-385px*4));}
    81.31% {transform: translateX(calc(-385px*4));}
    83.32% {transform: translateX(calc(-385px*5));}
    97.99% {transform: translateX(calc(-385px*5));}
    100% {transform: translateX(calc(-385px*6));}
}
#benefits #benefits_ad #benefits_slider #slider_right #slider_right-to-left li {
    width: 385px;
    height: 325px;
    float: left;
}
#benefits #benefits_ad #benefits_slider #slider_right-to-left li img {
    width: 100%;
}
#benefits #benefits_ad #benefits_banner {
    width: 100%;
    height: 204px;
}
#benefits #benefits_ad #benefits_banner img {
    margin-right: 16px;
    border-radius: 5px;
    height: 100%;
    box-shadow: 10px 10px 10px 0px rgb(0 0 0 / 20%);
    cursor: pointer;
}
#benefits #benefits_ad #benefits_banner img:first-child {
    width: 441px;
}
#benefits #benefits_ad #benefits_banner img:last-child {
    width: 204px;
}
#benefits #benefits_ad > img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 415px;
    height: 100%;
    cursor: pointer;
}
#benefits #menu_links {
    width: 100%;
    height: 132.5px;
    padding-top: 50px;
    display: flex;
}
#benefits #menu_links li {
    width: 220px;
    height: 82.5px;
}
#benefits #menu_links li a {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}
#benefits #menu_links li a::before {
    content: "";
    width: 100%;
    height: 100%;
}
#benefits #menu_links li:nth-child(1) a::before {
    background: url(/img/main/ico_vip.png) center center no-repeat;
}
#benefits #menu_links li:nth-child(2) a::before {
    background: url(/img/main/ico_membership.png) center center no-repeat;
}
#benefits #menu_links li:nth-child(3) a::before {
    background: url(/img/main/ico_card.png) center center no-repeat;
}
#benefits #menu_links li:nth-child(4) a::before {
    background: url(/img/main/ico_event.png) center center no-repeat;
}
#benefits #menu_links li:nth-child(5) a::before {
    background: url(/img/main/ico_store.png) center center no-repeat;
}

/* curation section */
#curation {
    width: 100%;
    min-width: 1100px;
    position: relative;
    background-color: #252451;
    height: 840px;
}
#curation .section_title h2 {
    color: #fff;
}
#curation .section_title a {
    display: inline-flex;
    position: absolute;
    right: 0;
    top: 50%;
    color: #aaa;
}
#curation .section_title a::after {
    content: "";
    width: 16px;
    height: 16px;
    background: url(/img/main/ico_plus_grey.png) 0 0 repeat;
    margin: 2px 0 0 5px;
}
#curation_container {
    position: relative;
    width: 100%;
    height: 587.5px;
}
#curation_container #curr_curation {
    display: flex;
    justify-content: space-between;
    height: 490px;
}
#curation_container #curr_curation #curation_img {
    width: 300px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    position: relative;
}
#curation_container #curr_curation .classic_mark::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -20px;
    background: url(/img/main/ico_curation_bg_classic.png) no-repeat center;
    width: 123px;
    height: 135px;
}
#curation_container #curr_curation .film_mark::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -20px;
    background: url(/img/main/ico_curation_bg_film.png) no-repeat center;
    width: 123px;
    height: 135px;
}
#curation_container #curr_curation #curation_img > a {
    display: inline-flex;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url(/img/main/ico_curation_bg.png) no-repeat center;
    border-radius: 15px;
    background-size: 48px 48px;
}
#curation_container #curr_curation #curation_img div {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
#curation_container #curr_curation #curation_img div a {
    width: 145px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
#curation_container #curr_curation #curation_img div a:first-child {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
}
#curation_container #curr_curation #curation_img div a:last-child {
    color: #fff;
    border-radius: 4px;
    background-color: #037b94;;
}
#curation_container #curr_curation #curation_info {
    width: 730px;
    height: 100%;
}
#curation_container #curr_curation #curation_info #curation_tag {
    font-size: 20px;
    color: #fff;
    height: 32px;
}
#curation_container #curr_curation #curation_info #curation_title {
    border-bottom: 1px solid #474681;
    color: #fff;
    font-size: 36px;
    padding-bottom: 20px;
    font-weight: bold;
}
#curation_container #curr_curation #curation_info #curation_summary {
    width: 100%;
    height: 192px;
    color: #fff;
    padding: 15px 0;
}
#curation_container #curation_list {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 730px;
    height: 277.5px;
    display: flex;
    justify-content: space-between;
}
#curation_container #curation_list li {
    width: 170px;
    height: 100%;
}
#curation_container #curation_list li div {
    width: 100%;
    height: 244px;
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.5);
    position: relative;
}
#curation_container #curation_list li .film_mark::before {
    content: "";
    background: url(/img/main/ico_curation_list_film.png) no-repeat center;
    width: 35px;
    height: 50px;
    position: absolute;
    top: -10px;
    left: 10px;
}
#curation_container #curation_list li .classic_mark::before {
    content: "";
    background: url(/img/main/ico_curation_list_classic.png) no-repeat center;
    width: 35px;
    height: 50px;
    position: absolute;
    top: -10px;
    left: 10px;
}
#curation_container #curation_list li div a {
    display: inline-flex;
    width: 100%;
}
#curation_container #curation_list li div img {
    width: 100%;
    border-radius: 10px;
}
#curation_container #curation_list li div img[src=""] { 
    content: url(/img/main/ico_curation_bg.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    margin: 0 auto;
}
#curation_container #curation_list li p {
    width: 100%;
    height: 32.5px;
    padding-top: 10px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* information section */
#information {
    width: 100%;
    min-width: 1100px;
    padding-bottom: 0;
}
#information #info-special_list {
    display: flex;
    width: 100%;
    height: 170px;
}
#information #info-special_list li {
    width: 170px;
    height: 170px;
    margin-left: 16px;
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 20%);
    border-radius: 10px;
}
#information #info-special_list li:first-child {
    margin-left: 0;
}
#information #info-special_list li a {
    display: inline-flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#information #info-special_list li:nth-child(1) a {
    background: url(/img/main/info_list_1.png) 0 0 no-repeat;
}
#information #info-special_list li:nth-child(2) a {
    background: url(/img/main/info_list_2.png) 0 0 no-repeat;
}
#information #info-special_list li:nth-child(3) a {
    background: url(/img/main/info_list_3.png) 0 0 no-repeat;
}
#information #info-special_list li:nth-child(4) a {
    background: url(/img/main/info_list_4.png) 0 0 no-repeat;
    background-size: cover;
}
#information #info-special_list li:nth-child(5) a {
    background: url(/img/main/info_list_5.png) 0 0 no-repeat;
    background-size: cover;
}
#information #info-special_list li:nth-child(6) a {
    background: url(/img/main/info_list_6.png) 0 0 no-repeat;
    background-size: cover;
}
#information #info-special_list li:nth-child(1) a:hover {
    background: url(/img/main/info_list_1.png) 0 bottom no-repeat;
}
#information #info-special_list li:nth-child(2) a:hover {
    background: url(/img/main/info_list_2.png) 0 bottom no-repeat;
}
#information #info-special_list li:nth-child(3) a:hover {
    background: url(/img/main/info_list_3.png) 0 bottom no-repeat;
}
#information #info-special_list li:nth-child(4) a:hover {
    background: url(/img/main/info_list_4.png) 0 bottom no-repeat;
    background-size: cover;
}
#information #info-special_list li:nth-child(5) a:hover {
    background: url(/img/main/info_list_5.png) 0 bottom no-repeat;
    background-size: cover;
}
#information #info-special_list li:nth-child(6) a:hover {
    background: url(/img/main/info_list_6.png) 0 bottom no-repeat;
    background-size: cover;
}
#information #info_notice {
    width: 100%;
    min-width: 1100px;
    height: 60px;
    margin-top: 50px;
    padding: 20px 0;
    border: 1px solid #e2e2e2;
    border-width: 1px 0;
}
#information #info_notice dl {
    display: flex;
    height: 20px;
}
#information #info_notice dl dt {
    width: 80px;
    color: #222;
}
#information #info_notice dl dd {
    padding: 0 15px 0 20px;
    border: 1px solid #e2e2e2;
    border-width: 0 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#information #info_notice dl dd a {
    color: #222;
    cursor: pointer;
    letter-spacing: 0;
}
#information #info_notice dl dd a:hover {
    border-bottom: 1px solid #222;
}
#information #info_notice dl dd span {
    color: #666;
    letter-spacing: 0;
}
#information #info_notice dl > a {
    display: inline-flex;
    width: 70px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-left: 15px;
    color: #444;
}
#information #info_notice dl > a:hover {
    border-bottom: 1px solid #444;
}
#information #info_notice dl > a::after {
    content: "";
    width: 7px;
    height: 12px;
    background: url(/img/main/ico_right-array.png) 0 0 no-repeat;
    margin: 3px 0 0 8px;
}
#information #info_links {
    width: 100%;
    min-width: 1100px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
#information #info_links li {
    width: 183px;
    text-align: center;
}
#information #info_links li a {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: #222;
    height: 100%;
}
#information #info_links li:nth-child(1) a::before {
    content: "";
    background: url(/img/main/ico_service.png) 0 0 no-repeat;
    width: 46px;
    height: 46px;
    margin: 0 auto 10px auto;
}
#information #info_links li:nth-child(2) a::before {
    content: "";
    background: url(/img/main/ico_qna.png) 0 0 no-repeat;
    width: 43px;
    height: 43px;
    margin: 0 auto 10px auto;
}