#message {
    width: 840px;
}
#message #message_search {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 15px;
}
#message #message_search span {
    color: #222;
    line-height: 36px;
    font-weight: bold;
}
#message #message_search span b {
    color: #01738b;
}
#message #message_search #search_form {
    width: 230px;
    height: 36px;
    border: 1px solid #d8d9db;
    border-radius: 3px;
    display: flex;
}
#message #message_search #search_form input {
    width: 197px;
    height: 100%;
    padding: 0 10px;
}
#message #message_search #search_form button {
    width: 30px;
    height: 32px;   
    background: url(/img/movie/ico_search.png) no-repeat center;
    cursor: pointer;
}

#message #message_list table {
    width: 100%;
    border-top: 1px solid #555;
    border-collapse: collapse;
    table-layout: fixed;
}
#message #message_list table thead tr th {
    height: 45px;
    font-weight: bold;
    background-color: #f2f4f5;
    padding: 3px 10px;
    color: #222;
    text-align: center;
    border: 1px solid #eaeaea;
    border-width: 0 0 1px 0;
}
#message #message_list table tbody tr td {
    height: 45px;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-width: 0 0 1px 0;
    color: #444;
    text-align: center;
    letter-spacing: 0;
}
#message #message_list table tbody tr td.title {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#message #message_list table tbody tr td.title a {
    color: #222;
}
#message #message_list table tbody tr td.title a:hover {
    color: #666;
    text-decoration: underline;
}
#message #page_num {
    width: 100%;
    height: 62px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
#message #page_num li {
    width: 32px;
    height: 32px;
    margin: 0 3px;
    border-radius: 4px;
}
#message #page_num li.num_btn {
    border: 1px solid #ebebeb;
}
#message #page_num li.num_btn:hover {
    border: 1px solid #01738b;
}
#message #page_num li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 5px 5px 3px;
    text-align: center;
}
#message #page_num li.num_btn a {
    color: #333;
}
#message #page_num li#selected {
    background-color: #01738b;
}
#message #page_num li#selected a {
    color: #fff;
}
#message #page_num li.move_btn:not(.inactive) {
    background-color: #f3f4f5;
}
#message #page_num li:not(#selected, .num_btn, .move_btn) {
    display: none;
}
#message #button {
    display: flex;
    justify-content: flex-end;
}
#message #button a {
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    color: #503396;
    border: 1px solid #503396;
}
#message #button a:hover {
    background-color: #f2f4f8;
}