/* movie_common 메뉴 item 폭 */
#contents_inner #contents_menu li {
    width: 33.334%;
}

#contents_inner > p {
    position: relative;
    padding-left: 8px;
    margin-bottom: 40px;
}
#contents_inner > p::before,
#contents_inner #info_box #info_text li::before,
#contents_inner #info_contents > div .con_inner > ul li::before {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    background-color: #503396;
    width: 3px;
    height: 3px;
}

#contents_inner #info_box {
    padding: 30px 40px;
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid #d8d9db;
    border-radius: 10px;
}
#contents_inner #info_box #info_title h1 {
    color: #503396;
    margin-bottom: 15px;
    height: 32px;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
}
#contents_inner #info_box #info_title p {
    text-align: center;
}
#contents_inner #info_box #info_title p b {
    color: #e63230;
    font-weight: lighter;
}
#contents_inner #info_box #info_text {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ebebeb;
}
#contents_inner #info_box #info_text li {
    position: relative;
    padding-left: 8px;
}

#contents_inner #info_contents {
    width: 100%;
    height: 622px;
    display: flex;
    justify-content: space-between;
}
#contents_inner #info_contents > div {
    width: 530px;
    height: 100%;
    border: 1px solid #d8d9db;
    border-radius: 10px;
}
#contents_inner #info_contents > div .con_title {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 0 30px;
    background: url(/img/movie/curation_info-title_bg.png);
}
#contents_inner #info_contents > div .con_title img {
    position: absolute;
    top: 0;
    left: 30px;
    width: 114px;
    height: 125px;
}
#contents_inner #info_contents > div .con_title p {
    width: 100%;
    height: 106px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#contents_inner #info_contents > div .con_title p span {
    font-size: 20px;
    height: 23px;
}
#contents_inner #info_contents > div .con_title p strong {
    font-size: 36px;
    height: 36px;
    letter-spacing: -3px;
}
#contents_inner #info_contents > div .con_inner {
    width: 100%;
    height: 470px;
    padding: 25px 30px;
    position: relative;
}
#contents_inner #info_contents > div .con_inner p {
    width: 100%;
    height: 82px;
}
#contents_inner #info_contents > div .con_inner p strong {
    display: block;
    width: 100%;
    height: 37px;
    padding-bottom: 15px;
    font-size: 20px;;
}
#contents_inner #info_contents > div .con_inner .membership {
    margin-top: 20px;
    padding: 20px 0;
    border: 1px solid #f2f4f5;
    border-width: 1px 0 1px 0;
}
#contents_inner #info_contents > div .con_inner .membership h3 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    letter-spacing: 0px;
}
#contents_inner #info_contents > div .con_inner .membership ul li {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 24px;
}
#contents_inner #info_contents > div .con_inner .membership ul li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
#contents_inner #info_contents > div .con_inner > ul {
    margin-top: 20px;
    height: 100%;
}
#contents_inner #info_contents > div .con_inner > ul li {
    position: relative;
    padding-left: 8px;
}
#contents_inner #info_contents > div .con_inner .con_btn {
    width: 100%;
    height: 89px;
    padding: 23px 0 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}
#contents_inner #info_contents > div .con_inner .con_btn button {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 36px;
    color: #fff;
    margin: 0 3px;
    padding: 0 15px;
    text-align: center;
    cursor: pointer;
}

#contents_inner #info_contents #film_con .con_title,
#contents_inner #info_contents #film_con .con_inner .membership h3 {
    color: #e83c30;
}
#contents_inner #info_contents #classic_con .con_title,
#contents_inner #info_contents #classic_con .con_inner .membership h3 {
    color: #01738b;
}
#contents_inner #info_contents #film_con .con_inner .con_btn button {
    background-color: #e83c30;
}
#contents_inner #info_contents #classic_con .con_inner .con_btn button {
    background-color: #01738b;
}

/* movie list */
#contents_inner #movie_list {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 60px;
}
#contents_inner #movie_list li {
    width: 230px;
    height: 450px;
    margin: 0 0 60px 60px;
    float: left;
}
#contents_inner #movie_list li:nth-child(4n+1) {
    clear: both;
    margin-left: 0;
}
#contents_inner #movie_list li .movie_poster {
    position: relative;
    width: 100%;
    height: 331px;
    border-radius: 5px;
    background: grey;
    overflow: hidden;
}
#contents_inner #movie_list li .movie_poster img {
    width: 100%;
    height: 100%;
}
#contents_inner #movie_list li .movie_poster .movie_rank {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 10px 0 0 15px;
    line-height: 1.1;
    font-size: 2em;
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 300;
    color: #fff;
    background: url(/img/main/bg_boxoffice-rank.png) 0 0 no-repeat;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 80%);
}
#contents_inner #movie_list li .movie_poster .poster_shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 5px;
    overflow: hidden;
}
#contents_inner #movie_list li .movie_poster:hover .poster_shadow {
    display: block;
    padding: 20px;
    background-color: rgba(0,0,0,0.8);
}
#contents_inner #movie_list li .movie_poster .poster_shadow .summary {
    width: 190px;
    height: 200px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 여러 줄 자르기 추가 스타일 */ 
    white-space: normal; 
    line-height: 1.5; 
    height: 12em; 
    text-align: left;
    word-wrap: break-word; 
    display: -webkit-box; 
    -webkit-line-clamp: 8; 
    -webkit-box-orient: vertical;
}
#contents_inner #movie_list li .movie_poster .poster_shadow .evaluation {
    position: absolute;
    overflow: hidden;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #3c3c3c;
    text-align: center;
    display: flex;
    justify-content: center;
}
#contents_inner #movie_list li .movie_poster .poster_shadow .evaluation p:first-child {
    margin: auto 19px auto 0;
    font-size: 13px;
    color: #fff;
}
#contents_inner #movie_list li .movie_poster .poster_shadow .evaluation p:last-child {
    font-size: 28px;
    color: #59bec9;
    font-weight: bold;
}

#contents_inner #movie_list li #movie_metadata dt {
    display: block;
    width: 100%;
    height: 27px;
    margin-top: 15px;
    font-size: 20px;
    color: #444;
    padding: 2px 0 0 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    overflow: hidden;
}
#contents_inner #movie_list li #movie_metadata dd {
    width: 100%;
    height: 32.5px;
    padding-top: 10px;
    color: #444;
    display: flex;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}
#contents_inner #movie_list li #movie_metadata dd p {
    letter-spacing: -1.5px;
    word-break : nowrap;
}
#contents_inner #movie_list li #movie_metadata dd p:first-child {
    margin-right: 7px;
    padding-right: 8px;
    position: relative;
    width: 95px;
}
#contents_inner #movie_list li #movie_metadata dd p:last-child {
    width: 122px;
}
#contents_inner #movie_list li #movie_metadata dd p:first-child::after {
    content: "";
    width: 1px;
    height: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-right: 1px solid #d8d9db;
}

#contents_inner #movie_list li .btn_util {
    width: 100%;
    height: 36px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
#contents_inner #movie_list li .btn_util a {
    display: flex;
    width: 153px;
    height: 100%;
    line-height: 36px;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}
#contents_inner #movie_list li .btn_util a:first-child::before {
    content: "";
    width: 17px;
    height: 15px;
    margin: auto 5px auto 0;
    background: url(/img/movie/ico_heart_gray.png) 0 0 no-repeat;
}
#contents_inner #movie_list li .btn_util a:first-child {
    display: inline-flex;
    width: 72px;
    border: 1px solid #ebebeb;
    color: #666;
    letter-spacing: -2px;
}
#contents_inner #movie_list li .btn_util .not_playing{
    background-color: #666;
    pointer-events: none;
}
#contents_inner #movie_list li .btn_util .playing {
    background-color: #503396;
}
#contents_inner #movie_list li .btn_util .playing:hover {
    background-color: #332163;
}

#contents_inner #movie_list #no_result {
    width: 100%;
    border-width: 1px 0 1px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
}
#contents_inner #movie_list #no_result p {
    height: 132px;
    padding: 50px 0;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    text-align: center;
    letter-spacing: -2px;
    border: 1px solid #f5f5f5;
}


#events h2 {
    padding-bottom: 16px;
    font-size: 24px;
    color: #503396;
}
#events ul {
    display: flex;
    justify-content: space-between;
}
#events ul li {
    width: 535px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
#events ul li img {
    width: 100%;
    height: 100%;
}